@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@900&family=Outfit:wght@300&display=swap");

* {
    padding: 0;
    margin: 0;
}

:root {
    --black-color: #151515;
    --brown-color: #d5966c;
    --white-color: #fff;
}

html {
    font-size: 22px;
}

body {
    font-family: "Outfit", "Arial", sans-serif;
    color: var(--black-color);
}

p {
    line-height: 1.45rem;
}

h1, h2, h3, h4, a {
    font-family: "Big Shoulders Display", "Lucida Calligraphy", cursive;
}

h1 {
    position: absolute;
    top: 189px;
    left: 165px;
    font-size: 4.36rem;
    line-height: 4rem;
    background-image: linear-gradient(90deg,
        var(--white-color) 0, var(--white-color) 3em,
        var(--black-color) 3em, var(--black-color) 5em
    );
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

h2 {
    font-size: 3.18rem;
    line-height: 3.18rem;
}

h3 {
    font-size: 2.72rem;
    line-height: 2.72rem;
}

h4 {
    font-size: 1.64rem;
    line-height: 1.64rem;
}

.pre-lines {
    white-space: pre-line;
}

.black-block {
    background-color: var(--black-color);
    color: var(--white-color);
}

/*HEADER*/

header {
    position: relative;
    top: 0;
    left: 0;
    margin-right: 11.45%;
    line-height: 0;
}

#right-header-block {
    position: absolute;
    top: 0;
    left: 0;
    width: 20.45rem;
    height: 100%;
}

#header-img {
    position: relative;
    left: 450px;
    top: 0;
}

#header-paragraph {
    position: absolute;
    right: 0;
    top: 190px;
    width: 15.9rem;
}

/*BUTTON*/

.button-arrows {
    background-color: var(--brown-color);
    width: 2.54rem;
    height: 3.27rem;
    float: right;
}

.button-block {
    display: block;
    position: absolute;
    width: 11.81rem;
    height: 3.27rem;
}

.button-text {
    font-size: .9rem;
    letter-spacing: .165rem;
    margin: 24px 0 24px 32px;
    float: left;
    line-height: 1.09rem;
}

.button-img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#location-button {
    right: 90px;
    top: 414px;
}

#location-button:hover .button-arrows{
    background-color: var(--black-color);
}

#location-button:hover {
    background-color: var(--brown-color);
}



/*FOOTER*/

.flex-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 80px 11.45%;
}

footer p {
    font-size: .81rem;
    line-height: 1.27rem;
    width: 38.7%;
}

.social-icons-list {
    list-style: none;
    padding: 0;
}

.social-icons-list > li {
    padding-left: 20px;
}

.svg-social-icons-white{
    fill: var(--white-color);
}

#fb-icon-svg-brown:hover {
    fill: var(--brown-color);
}

#ig-icon-svg-brown:hover {
    fill: var(--brown-color);
}

#tw-icon-svg-brown:hover {
    fill: var(--brown-color);
}
